<template>

	
	<div class="row">
		<div class="col-sm-12">
			Hello from my new view!
			<sample></sample>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>


	// Import components for this scope-level.
	
	import sample from '../components/sample.vue';
	
	
	// The view.

	export default {
		
		
		name: 'ENTER_VIEW_NAME_HERE',
		
		components: { sample },
		
		data () {
			
			return {}
			
		}, // END: data
		
		methods: {
			
			
			// This `start` method, if present, is automatically called when the view loads.
			
			start () {}
			
			
		} // END: methods
		
		
	}


</script>