<template>

	<!-- START: View contents. -->
	
	<div class="row">
		
		<div class="col-sm-12">
			<h3>Dashboard</h3>
			<a href="#/todos">See your todos</a>
		</div>
	
	</div>
	
	<!-- END: View contents. -->
	
</template>

<script>

export default {
	
	name: 'dashboard',
	
	data () {
		
		return {}
		
	},
	
	methods: {


		/* START:-. */
		
		start () {}
		
	}
	
}

</script>

<style lang="scss">
	
	
	
</style>