<template>

	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Update your profile</h2>
			<form @submit.prevent>
				<div class="form-group">
					<label>First name</label>
					<input v-model="fields.firstname" :disabled="disabled" type="text" class="form-control" placeholder="e.g. John">
				</div>
				<div class="form-group">
					<label>Last name</label>
					<input v-model="fields.lastname" :disabled="disabled" type="text" class="form-control" placeholder="e.g. Doe">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input v-model="fields.password" :disabled="disabled" type="password" class="form-control" placeholder="e.g. Secret123">
					<span class="help-block">Leave blank to not change</span>
				</div>
				<button @click="update" :disabled="disabled" class="btn btn-info" type="submit">Update</button>
				<div v-show="error" v-text="error" class="text-danger"></div>
				<div v-show="success" v-text="success" class="text-success"></div>
			</form>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	
	
	
</style>

<script>


export default {
	
	
	name: 'profile',
	
	data () {
		
		return {
			
			
			// Holds the form fields to be submitted.
			
			fields: {
				
				firstname : '',
				lastname  : '',
				password  : ''
				
			},
			
			
			// Determines if the user can interact with the form.
			// Useful to disable forms while a HTTP request is being made.
			
			disabled: false,
			
			
			// This is the error message.
			
			error : false,
			
			
			// This is the success message.
			
			success : false
			
		}
		
	},
	
	methods: {
		
		
		// This `start` method, if present, is automatically called when the view loads.
		
		start () {

			
			// Enable the form fields.
			
			this.disabled = false;
			
			
			// Remove the error message.
			
			this.error = false;
			
			
			// Remove the success message.
			
			this.success = false;
			
			
			// Fetch profile from server.
			
			this.fetch ();
			
		
		},
		
		
		// Fetch the user’s profile.
		
		fetch () {
			
			
			// Disable the form fields.
			
			this.disabled = true;
			
			
			// Remove the error message.
			
			this.error = false;
			
			
			// Remove the success message.
			
			this.success = false;
			
			
			// Fetch user’s profile via Controller.
			
			this.$store.dispatch ( 'auth/fetch' )
			.then ( ( userData ) => {
				
				
				// Enable the form fields.
				
				this.disabled = false;
				
				
				// Populate fields.
				
				for ( var key in this.fields ) this.fields[key] = userData[key] ? userData[key] : '';
		
				
			} )
			.catch ( ( error ) => {
				
				
				// Enable the form fields.
				
				this.disabled = false;
				
				
				// Show the error message.
				
				this.error = 'Unable to retrieve profile!';
				
				
			} );
				
			
		},
		
		
		// Sign the user in.
		
		update () {
			
			
			// Disable the form fields.
			
			this.disabled = true;
			
			
			// Remove the error message.
			
			this.error = false;
			
			
			// Remove the success message.
			
			this.success = false;
			
			
			// Prepare parameters.
			
			var params = {};
			
			for ( var key in this.fields ) if ( this.fields[key].trim () !== '' ) params[key] = this.fields[key].trim ();
				
			
			// Update the profile
			
			this.$store.dispatch ( 'auth/update', params )
			
			
				// Success.
				
				.then ( ( response ) => {
					
					
					// Enable the form fields.
					
					this.disabled = false;
					
					
					// Show the success message.
					
					this.success = 'Congratulations! Your profile has been updated!';
					
					
				} )
				
				
				// Error.
				
				.catch ( ( error ) => {
					
					
					// Enable the form fields.
					
					this.disabled = false;
					
					
					// Show the error message.
					
					this.error = 'Invalid credentials, please try again!';
					
					
				} );
			
		}
		
		
	} // END: methods
	
	
}


</script>