<template>

	
	<div class="row">
		<div class="col-sm-12">
			<form @submit.prevent>
				<input v-model="fields.identity" :disabled="disabled" type="text">
				<input v-model="fields.password" :disabled="disabled" type="password">
				<button @click="signin" :disabled="disabled" class="btn btn-info" type="submit">Sign-in</button>
				<div v-show="error" v-text="error" class="text-danger"></div>
			</form>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	
	
	
</style>

<script>


export default {
	
	
	name: 'signin',
	
	data () {
		
		return {
			
			
			// Holds the form fields to be submitted.
			
			fields: {
				
				identity : 'mark@digitalfolks.sg',
				password : 'insecure'
				
			},
			
			
			// Determines if the user can interact with the form.
			// Useful to disable forms while a HTTP request is being made.
			
			disabled: false,
			
			
			// This is hte error message.
			
			error : false
			
		}
		
	},
	
	methods: {
		
		
		// This `start` method, if present, is automatically called when the view loads.
		
		start () {
			
			
			// Enable the form fields.
			
			this.disabled = false;
			
			
			// Remove the error message.
			
			this.error = false;
			
		
		},
		
		
		// Sign the user in.
		
		signin () {
			
			
			// Disable the form fields.
			
			this.disabled = true;
			
			
			// Remove the error message.
			
			this.error = false;
			
			
			// Call the root `signin` method.
			
			this.$root.signin ( this.fields )
			
			
				// Success.
				
				.then ( ( userData ) => {
					
					
					// Enable the form fields.
					
					this.disabled = false;
					
					
					// ... do anything you would like with `userData`.
					
					console.log ( userData );
					
				
				} )
			
			
				// Error.
				
				.catch ( ( error ) => {
					
					
					// Enable the form fields.
					
					this.disabled = false;
					
					
					// Show the same error message for every error.
					
					this.error = 'Invalid credentials, please try again!';
					
					
				} );
				
			
		}
		
		
	} // END: methods
	
	
}


</script>