<template>

	
	<div class="row">
		<div class="col-sm-12">
			<h3>Course details</h3>
			<a @click="fetch ()">Refresh</a> <a :href="'#/todos/' + this.$route.params.todoID + '/edit'">Edit</a>
			<div v-if="error" class="error text-danger">Couldn't retrieve todo.</div>
			<div v-show="preloading">Getting todo ...</div>
			<ul>
				<li v-for="( value, key ) in todo">{{ key }} - {{ value }}</li>
			</ul>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>
	
	
	// The view.

	export default {
		
		
		name: 'todo',
		
		data () {
			
			return {
				
				
				// The todo.
				
				todo: {},
				
				
				// The error that occurs if something went wrong with the API.
				
				error: false,
				
				
				// Indicates that we are preloading the todo.
				
				preloading: false
				
				
			}
			
		}, // END: data
		
		methods: {
			
			
			// This `start` method, if present, is automatically called when the view loads.
			
			start () {
				
				
				// Fetch the todo.
				
				this.fetch ();
				
				
			},
			
			
			// Fetch the todo.
			
			fetch () {
				
				
				// Cancel errors.
				
				this.error = false;
				
				
				// Show preloader.
				
				this.preloading = true;
				
				
				// Fetch the todo.
				
				global.axios.request ( '/todos/' + this.$route.params.todoID )
				
				
				// Success.
				
				.then ( ( response ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
					
					
					// Show todo info.
					
					this.todo = response.data;
					
				
				} )
				
				
				// Failed.
				
				.catch ( ( error ) => {
					
					
					// Show error.
					
					this.error = true;
					
					
				} );
				
				
			}
			
			
		} // END: methods
		
		
	}


</script>