<template>

	
	<div class="row">
		<div class="col-sm-12">
			<h3>Todos</h3>
			<a @click="list ()">Refresh</a>
			<div v-if="error" class="error text-danger">Couldn't retrieve todos.</div>
			<div v-show="preloading">Getting todos ...</div>
			<a href="#/todos/new" class="btn btn-default">Add new</a>
			<ul v-show="todos.length > 0 && ! error">
				<li v-for="todo in todos">
					<a :href="'#/todos/' + todo.id" v-text="todo.label"></a> (<a :href="'#/todos/' + todo.id + '/edit'">edit</a>)
				</li>
			</ul>
			<div v-show="todos.length === 0 && ! preloading" class="empty-list">No todos yet!</div>
			
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>
	
	
	// The view.

	export default {
		
		
		name: 'todos',
		
		data () {
			
			return {
				
				
				// Holds the list of todos.
				
				todos: [],
				
				
				// The error that occurs if something went wrong with the API.
				
				error: false,
				
				
				// Indicates that we are preloading todos.
				
				preloading: false
				
			}
			
		}, // END: data
		
		methods: {
			
			
			// This `start` method, if present, is automatically called when the view loads.
			
			start () {
				
				
				// Fetch todos (only if there are none as it might be the first time).
				
				if ( this.todos.length === 0 ) this.list ();


			},
			
			
			// List todos.
			
			list () {
				
				
				// Cancel errors.
				
				this.error = false;
				
				
				// Show preloader.
				
				this.preloading = true;
				
				
				// List todos.
				
				global.axios.request ( '/todos' )
				
				
				// Success.
				
				.then ( ( response ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
					
					
					// Show todos.
					
					this.todos = response.data;
					
					
				} )
				
				
				// Failed.
				
				.catch ( ( error ) => {
					
					
					// Show error.
					
					this.error = true;
					
					
				} );
				
				
			}
			
			
		} // END: methods
		
		
	}


</script>