<template>

	
	<div class="row">
		<div class="col-sm-12">
			<h3>Todo form</h3>
			<a @click="fetch ()">Refresh</a>
			<div v-if="error" class="error text-danger">Something went wrong!</div>
			<div v-show="preloading">Hang in there!!!</div>
			<div class="form-group">
				<label>Label</label>
				<input v-model="fields.label" :disabled="disabled" type="text" class="form-control">
			</div>
			<button @click="update ()" :disabled="disabled" class="btn btn-info">Save</button>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>
	
	
	// The view.

	export default {
		
		
		name: 'todo-form',
		
		data: function () {
			
			return {
				
				
				// The todo’s fields.
				
				fields: {
					
					label: ''
					
				},
				
				
				// The error that occurs if something went wrong with the API.
				
				error: false,
				
				
				// Indicates that we are preloading the todo.
				
				preloading: false,
				
				
				// Indicates if the form is disabled.
				
				disabled: false
				
				
			}
			
		}, // END: data
		
		methods: {
			
			
			// This `start` method, if present, is automatically called when the view loads.
			
			start () {
				
				
				// Fetch the todo (Only if in edit mode).
				
				if ( this.$route.params.todoID ) this.fetch ();
				
				
			},
			
			
			// Clear the form.
			
			clear () {
				
			
				for ( var key in this.fields ) this.fields[key] = '';
				
				
			},
			
			
			// Fetch the todo.
			
			fetch () {
				
				
				// Clear the form.
				
				this.clear ();
				
				
				// Show preloader.
				
				this.preloading = true;
				
				
				// Cancel errors.
				
				this.error = false;
				
				
				// Disable the form.
				
				this.disabled = true;
				
				
				// Fetch the todo.
				
				global.axios.request ( '/todos/' + this.$route.params.todoID )
				
				
				// Success.
				
				.then ( ( response ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
					
					
					// Show todo info.
					
					for ( var key in this.fields ) this.fields[key] = response.data[key] ? response.data[key] : '';				
				
					// Enable the form.
					
					this.disabled = false;
					
				
				} )
				
				
				// Failed.
				
				.catch ( ( error ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
					
					
					// Show error.
					
					this.error = true;
				
				
					// Enable the form.
					
					this.disabled = false;
					
					
				} );
				
				
			},
			
			
			// Update the todo.
			
			update () {
				
				
				// Show preloader.
				
				this.preloading = true;
				
				
				// Cancel errors.
				
				this.error = false;
				
				
				// Disable the form.
				
				this.disabled = true;
				
				
				// Fetch the todo.
				
				global.axios.post ( '/todos' + ( this.$route.params.todoID ? ( '/' + this.$route.params.todoID + '/update' ) : '' ), this.fields )
				
				
				// Success.
				
				.then ( ( response ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
				
				
					// Enable the form.
					
					this.disabled = false;
					
					
					// Go to the todo page.
					
					this.$router.push ( '/todos/' + response.data.id );
					
				
				} )
				
				
				// Failed.
				
				.catch ( ( error ) => {
					
					
					// Hide preloader.
					
					this.preloading = false;
					
					
					// Show error.
					
					this.error = true;
				
				
					// Enable the form.
					
					this.disabled = false;
					
					
				} );
				
				
				
			}
			
			
		} // END: methods
		
		
	}


</script>