<template>

	
	<div class="row">
		<div class="col-sm-12">
			<p>Hello from my new component!</p>
		</div>
	</div>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>


	export default {
		
		
		name: 'ENTER_COMPONENT_NAME_HERE',
		
		data () {
			
			return {}
			
		}, // END: data
		
		methods: {
			
		
		
		} // END: methods
		
		
	}


</script>