<template>


	<footer class="row">
		<div class="col-sm-12">
			<small class="text-muted">Copyright &copy; DigitalFolks</small>
		</div>
	</footer>


</template>

<script>


	export default {
		
		
		name: 'footer-component',
		
		data () {
			
			return {}
			
		} // END: data
		
		
	}


</script>

<style lang="scss">
	
	
	footer {
		margin-top: 4.8rem; padding: 1.2rem 0;
		border-top: 1px solid #eee;
		text-align: center;
	}
	
	
</style>