<template>


	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">DigitalFolks</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/todos">Todos <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="#">???</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">??? <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">???</a></li>
							<li><a href="#">???</a></li>
							<li><a href="#">???</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">???</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">???</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/profile">Edit Profile</a></li>
							<li><a href="#">???</a></li>
							<li><a href="#/kitchensink">All screens</a></li>
							<li role="separator" class="divider"></li>
							<li><a @click="$root.signout">Logout</a></li>
						</ul>
					</li>
				</ul>
				<p class="navbar-text navbar-right">Signed in as <span v-text="$store.state.auth.firstname + ' ' + $store.state.auth.lastname"></span></p>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


</template>

<script>


	export default {
		
		
		name: 'navigation-component',
		
		data () {
			
			return {}
			
		} // END: data
		
		
	}


</script>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>