<template>

	
	<span>This is a sample component.</span>
	
	
</template>

<style lang="scss">
	
	
	/* Styles go here ... */
	
	
</style>

<script>


	export default {
		
		
		name: 'sample',
		
		data () {
			
			return {}
			
		} // END: data
		
		
	}


</script>