<template>


	<div id="app">
		<header-component></header-component>
		<div class="container-fluid">
			<keep-alive>
				<router-view ref="view"></router-view>
			</keep-alive>
			<footer-component></footer-component>
		</div>
	</div>
	
	
</template>

<style lang="scss">

	@import '~/node_modules/bootstrap/dist/css/bootstrap.min.css';


</style>

<script>


	// Import components for this scope-level.
	
	import headerComponent from './components/header.vue';
	import footerComponent from './components/footer.vue';
	
	
	// The app.
	
	export default {
		
		
		components: {
					
			headerComponent,
			footerComponent
			
		} // END: components


	};


</script>
